<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">CIPRES Workbench</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <form class="navbar-form navbar-right">
          {{#unless session.username}}
            <div class="form-group">
              {{input type="text" value=sessionControl.username class="form-control" placeholder="username"}}
            </div>
            <div class="form-group">
              {{input type="password" value=sessionControl.password class="form-control" placeholder="password"}}
            </div>
            <button {{action "login"}} type="submit" class="btn btn-success">Login</button>
          {{else}}
            <button {{action "logout"}} type="submit" class="btn btn-warning">Logout</button>
          {{/unless}}
        </form>
        {{#if session.username}}
          <div class="navbar-right">
            <p class="navbar-text">Signed in as {{session.username}}</p>
          </div>
        {{/if}}
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
          {{#link-to "index" tagName="li" href=false}}{{#link-to 'index'}}Home{{/link-to}}{{/link-to}}
          {{#if session.username}}
            {{#link-to 'job.list' tagName="li" href=false}}{{#link-to 'job.list'}}My Jobs{{/link-to}}{{/link-to}}
            {{#link-to 'job.create' tagName="li" href=false}}{{#link-to 'job.create'}}New Job{{/link-to}}{{/link-to}}
          {{/if}}
      </ul>
    </div>

  	{{outlet}}

	</div>
</div>
